include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include LICENSE
include README.md
include SECURITY.md
include SUPPORT.md
include pyproject.toml
include MANIFEST.in
recursive-include assets *
recursive-include docs *.md
recursive-include examples *.toml
recursive-include src *.py
recursive-include src/opencntx/schemas *.json
recursive-include tests *.py
recursive-include tools *.py
